@font-face {
	font-family:Futura;
	font-style:italic;
	font-weight:bold;
	src : url("../Fonts/Futura-BoldOblique.ttf");
}
@font-face {
	font-family:Futura;
	font-style:oblique;
	font-weight:bold;
	src : url("../Fonts/Futura-BoldOblique.ttf");
}
@font-face {
	font-family:"Futura-Book";
	font-style:normal;
	font-weight:normal;
	src : url("../Fonts/Futura-Book.ttf");
}
@font-face {
	font-family : "Futura-CondensedMedium";
	font-style : italic ;
	font-weight : 500;
	font-stretch : expanded;
	src : url("../Fonts/Futura-CondensedMediumOblique.ttf");
}
@font-face {
	font-family : "Futura-Medium";
	font-style : normal;
	font-weight : 500;
	src : url("../Fonts/Futura-Medium.ttf");
}
@font-face {
	font-family : "Futura-Medium";
	font-style : italic ;
	font-weight : 500;
	src : url("../Fonts/Futura-MediumOblique.ttf");
}
@font-face {
	font-family : "Futura XBlk BT";
	font-style : normal;
	font-weight : normal;
	src : url("../Fonts/FuturaBT-ExtraBlack.ttf");
}
@font-face {
	font-family : Palatino;
	font-style : italic ;
	font-weight : bold;
	src : url("../Fonts/Palatino-BoldItalic.ttf");
}

@font-face {
	font-family : "Palatino Bold";
	font-style : normal ;
	font-weight : bold;
	src : url("../Fonts/Palatine-Bold.ttf");
}
@font-face {
	font-family : Palatino;
	font-style : normal;
	font-weight : normal;
	src : url("../Fonts/Palatine.ttf");
}
@font-face {
	font-family : "Palatino Linotype";
	font-style : italic ;
	font-weight : normal;
	src : url("../Fonts/PalatinoLinotype-Italic.otf");
}
@page {
  margin: 0em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}

img.SquareIMG{

    max-height:300px;
    max-width:300px;
}

div.BG{
	color:#000000;
	background-color:#e3e5e4;
    min-height:50px;
	margin : 0 0 0 0;
}

span.DOMENICA {
	font-family : "Futura XBlk BT", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
}
span.SANTI {
	font-family : Palatino, sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.67em;
}
span.FESTIVIT {
	font-family : "Futura (T1)", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.17em;
}
span.DAL-LIBRO {
	font-family : "Futura (T1) Extra Bold", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
	text-transform : uppercase;
}

span.INDICE {
	font-family : "Futura (T1) Extra Bold", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
}

span.GIORNO {
	font-family : "Futura (T1) Extra Bold", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.25em;
	font-variant : normal;
}
span.SALMI {
	font-family : Palatino, sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
}
span.Nome-Santi {
	font-family : "Futura (T1) Bold Oblique", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
}
span.Vita-Santi {
	font-family : "Futura-Book", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
}
span.Dal-Vangelo-secondo {
	font-family : "Helvetica Neue 95 Black", sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
}
span.char-style-override-1 {
	font-family : Palatino, sans-serif;
	font-size : 0.67em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-2 {
	font-family : "Palatino Linotype", sans-serif;
	font-size : 0.67em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-3 {
	font-family : "Palatino Linotype", sans-serif;
	font-size : 0.58em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-4 {
	font-family : "Palatino Linotype",sans-serif;
	font-size : 0.58em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-5 {
	font-size : 0.75em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-6 {
	font-family : "Palatino Linotype", sans-serif;
	font-size : 1.17em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-7 {
	font-family : Palatino, sans-serif;
	font-size : 0.83em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-8 {
	font-family : "ZapfDingbats BT", sans-serif;
	font-size : 0.83em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-9 {
	font-family : Palatino, sans-serif;
	font-size : 0.60em;
	font-style : normal;
	font-weight : normal;
}

span.char-style-override-9F {
	font-family : Palatino, sans-serif;
	font-size : 0.83em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-10 {
	font-family : "Palatino Linotype", sans-serif;
	font-size : 0.83em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-11 {
	font-family : Futura, sans-serif;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-12 {
	font-family : "Futura (T1)", sans-serif;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-13 {
	font-family : "Palatino Bold", sans-serif;
	font-size : 0.79em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-14 {
	font-family : "Palatino Linotype", sans-serif;
	font-size : 0.79em;
	font-style : italic;
	font-weight : normal;
	margin-bottom: 0.14in;
}
span.char-style-override-15 {
	font-family : Palatino, sans-serif;
	font-size : 0.79em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-16 {
	font-family : Palatino, sans-serif;
	font-size : 0.79em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-17 {
	font-family : "Palatino Linotype", sans-serif;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-18 {
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-19 {
	font-family : "Futura (T1)", sans-serif;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-20 {
	font-family : "Futura (T1) Bold Oblique", sans-serif;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-21 {
	font-family : "Palatino Linotype", sans-serif;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-22 {
	font-family : Palatino, sans-serif;
	font-size : 0.79em;
	font-style : italic;
	font-weight : bold;
}
span.char-style-override-23 {
	font-family : "Futura XBlk BT", sans-serif;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-24 {
	font-family : "Futura XBlk BT", sans-serif;
	font-size : 1.04em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-25 {
	font-family : "Palatino Linotype", sans-serif;
	font-size : 0.83em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-26 {
	font-family : Palatino, sans-serif;
	font-size : 0.83em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-27 {
	font-family : Palatino, sans-serif;
	font-size : 0.75em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-28 {
	font-family : "Palatino Linotype", sans-serif;
	font-size : 0.75em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-29 {
	font-family : "Futura-CondensedMedium", sans-serif;
	font-size : 0.58em;
	font-stretch : expanded;
	font-style : italic;
	font-weight : 500;
}
span.char-style-override-30 {
	font-family : "Futura-Medium", sans-serif;
	font-size : 0.42em;
	font-style : normal;
	font-weight : 500;
}
span.char-style-override-31 {
	font-family : "Futura (T1) Bold Oblique", sans-serif;
	font-size : 1.63em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-32 {
	font-family : "Futura-Medium", sans-serif;
	font-style : normal;
	font-weight : 500;
}
span.char-style-override-33 {
	color : #ffffff;
	font-family : "Futura (T1) Bold Oblique", sans-serif;
	font-size : 0.83em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-34 {
	font-family : "Futura-Medium", sans-serif;
	font-size : 0.58em;
	font-style : italic;
	font-weight : 500;
}
span.char-style-override-35 {
	font-family : "Futura (T1) Bold Oblique", sans-serif;
	font-size : 0.58em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-36 {
	font-family : "Futura (T1) Bold Oblique", sans-serif;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-37 {
	font-family : "Futura-Medium", sans-serif;
	font-style : italic;
	font-weight : 500;
}

span.char-style-override-38 {
	font-family : "Futura-Book", sans-serif;
	font-style : normal;
	font-weight : normal;
}

span.char-style-override-39 {
	font-family:Futura, sans-serif;
	font-style:italic;
	font-weight:bold;
}

p.No-Paragraph-Style {
	font-family : Times, sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	text-indent : 0px;
	margin : 0px;
}
p.Basic-Paragraph {
	font-family : Times, sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	text-indent : 0px;
	margin : 0px;
}
p.Normal {
	font-family : sans-serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	text-indent : 0px;
	margin : 0 0em 0 0em;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}
p.para-style-override-2 {
	text-align : justify;
}
p.para-style-override-3 {
	text-align : center;
}
p.para-style-override-4 {
	margin-bottom : 0px;
	text-align : justify;
}
p.para-style-override-5 {
    text-align : left;
	margin-bottom : 5px;
}

div.Basic-Text-Frame {
}

